html,
body,
.author,
.date {
    font-family: "Palatino", "Georgia", 'Palatino Linotype', 'Book Antiqua', 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
    font-size: 16px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6rem;
}

h4.author {
    font-size: 1.2rem;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    font-weight: bold;
    line-height: 1.8rem;
}

h1,
h2 {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.2rem;
}

h4,
h5,
h6 {
    font-size: 1.0rem;
}

.subtitle {
    text-align: center;
}

.author,
.date {
    text-align: right;
    margin-right: 2.0em;
}

a {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.8rem;
    margin-bottom: 1.4rem;
    margin: auto;
}

tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

th,
td {
    padding: 5px 14px;
    border: 1px solid #ddd;
}

blockquote {
    font-style: italic;
    font-size: 0.99em;
    line-height: 1.5em;
    padding-left: 1em;
    border-left: 4px solid #D5D5D5;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5rem;
}

a {
    color: #1863a1
}

code {
    font-family: "Monaco", "Menlo", "Courier New", "Lucida Console", 'STKaiti', 'KaiTi', 'SimKai', monospace;
    line-height: 1.9;
    font-size: .85em;
}

img {
    max-width: 80%;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: #fff 0.5em solid
}